@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



html, body, #root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Times New Roman', Times, serif;
  background-color: #F0F0F0;
}
